<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha From Project</title>
</head>
<body>
    <header>
        <main>
            <form action="/submit" method="post">
                {% csrf_token %}
                <div>
                    <label for="fullname">Full Name:</label>
                    <input type="text" id="fullname" name="fullname">
                </div>
                <br>
                <br>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>
                <br>
                {{form.captcha}}
                <button type="submit">Submit</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </main>
    </header>
</body>
</html>
